body {
	padding: 0.7rem, 1.5rem;
	font-family: 'Roboto', 'Noto', sans-serif;
	line-height: 1.5;
	background-color: #eeeeee;
}
header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	margin: 0 5px;
}
h1 {
	margin: 0;
}
.bar {
	width: 35px;
	height: 5px;
	background-color: black;
	margin: 6px 0;
}
main {
	display: flex;
	flex-flow: column nowrap;
	min-height: 100vh;
}
article {
	flex-grow: 1;
	flex-basis: 100%;
}
@media (min-width: 1000px) {
	main {
		flex-flow: row wrap;
		align-content: flex-start;
	}
	article {
		flex-basis: auto;
	}
	#menu {
		width: 200px;
	}
}
